html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin:0; padding:0; border:0; outline:0; font-weight:inherit; font-style:inherit; font-size:100%; font-family:inherit; vertical-align:baseline; }
body {
	background: #fff;
	margin: 0;
	font: normal 84%/1.1 "Lucinda Grande", "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #444;
}
table {
	border-spacing: 0;
}
h1, h2, h3, h4 {
	margin: 0 0 .5em 0;
	font-family: 'Lobster', "Lucinda Grande", "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-bottom: 1px solid #ddd;
}
h1 {
	font-size: 190%;
}
h2 {
	font-size: 140%;
}
em {
	font-style: italic;
}
ul {
	margin-left: 2em;
	margin-bottom: 1.5em;
}
ul ul {
	margin: .4em 0 .6em 2em;
}
li {
	margin-bottom: .4em;
}
p {
	margin-bottom: 1em;
}
a {
	color: #333;
}
a:hover {
	text-decoration: none;
	color: #000;
}
small {
	font-size: small;
}
@font-face {
	font-family: 'Lobster';
	font-style: normal;
	font-weight: normal;
	src: local('Lobster'), url('http://themes.googleusercontent.com/font?kit=X-CahsKZZcJfSyZ_tX4ptg') format('truetype');
}
@font-face {
	font-family: 'Droid Sans Mono';
	font-style: normal;
	font-weight: normal;
	src: local('Droid Sans Mono'), url('http://themes.googleusercontent.com/font?kit=ns-m2xQYezAtqh7ai59hJViAdY2Sz5g753dOuB6TK0I') format('truetype');
}

#wrapper {
	width: 518px;
	margin: 3.2em auto 1em auto;
	border: 1px solid #bbb;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	-moz-box-shadow: 0 0 7px #aaa;
	-webkit-box-shadow: 0 0 7px #aaa;
	box-shadow: 0 0 7px #aaa;
}
.toggle {
	font-weight: bold;
	font-size: 110%;
	padding-left: 4px;
	text-shadow: 1px 1px 1px #aaa;
}
header {
	display: block;
	padding: 2em 26px .5em 26px;
}
header a {
	text-decoration: none;
	color: #444;
}
header a:hover {
	color: #000;
}
nav {
	display: block;
	border-top: 1px solid #bbb;
	border-bottom: 1px solid #aaa;
	margin: 0 0 2em 0;
	background: url(/img/nav_bg.jpg) repeat-x center bottom;
	-moz-box-shadow: 0px 2px 1px #eee;
	-webkit-box-shadow: 0 2px 1px #eee;
	box-shadow: 0 2px 1px #eee;
	text-align: center;
}
nav ul {
	margin: 0 auto;
	padding: 0;
	width: auto;
	margin-left: 26px;
	border-left: 1px solid #fff;
	border-right: 1px solid #ddd;
}
nav ul li {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 116px;
	float: left;
}
nav ul li a {
	display: block;
	padding: .7em 1.5em;
	text-decoration: none;
	text-align: center;
	font-size: 110%;
	text-transform: uppercase;
	border-left: 1px solid #ddd;
	border-right: 1px solid #fff;
	outline: none;
}
nav ul li a.selected {
	text-decoration: underline;
}
nav ul li a:hover {
	border: 1px solid #aaa;
	border-width: 0 1px;
	-moz-box-shadow: 0 0 3px #888;
	-webkit-box-shadow: 0 0 3px #888;
	box-shadow: 0 0 3px #888;
	text-shadow: 1px 1px 1px #ccc;
}
nav ul li a:active {
	-moz-box-shadow: 0 0 4px #333;
	-webkit-box-shadow: 0 0 4px #333;
	box-shadow: 0 0 4px #333;
}

section {
	display: block;
	padding: 0 26px;
	margin-bottom: 1.8em;
}

#commits-scroll {
	max-height: 254px;
	white-space: nowrap;
	font-size: 88%;
	letter-spacing: 0;
}
#commits-scroll td {
	padding: 6px;
}
#commits-scroll td.col1 {
	padding-right: 0;
}
#commits-scroll td.col2 {
	padding-left: 0;
}

#repositories, #commits {
	display: none;
}

#loader {
	margin-right: .2em;
}

a.more-info {
	float: right;
	font-size: 80%;
	text-decoration: none;
	padding: .2em .4em;
	border: 1px solid #fff;
	-moz-border-radius: 4px;
}
a.more-info:hover {
	border-color: #aaa;
	-moz-box-shadow: 0 0 3px #888;
	background: url(/img/nav_bg.jpg) repeat-x center top;
}

#contact-form {
	margin-top: 2em;
	margin-left: 1em;
}
#contact-form label {
	float: left;
	width: 6em;
}
#contact-form input {
	padding: .4em .5em;
	width: 18em;
	background: transparent;
	border-color: #888;
}
#contact-form textarea {
	padding: .4em .5em;
	width: 25em;
	height: 8em;
	border-color: #888;
}

#contact-form input:focus, #contact-form textarea:focus {
	-moz-box-shadow: 0 0 3px #aaa;
	border-color: #000;
}
#contact-form .error {
	margin-left: .6em;
}

#github-ribbon {
	position: absolute; 
	top: 0; 
	right: 0; 
	border: 0;
}

button.ui-state-default {
	font-size: 90%;
	background: url(/img/nav_bg.jpg) repeat-x;
	text-shadow: 1px 1px 1px #eee;
}
button.ui-state-hover {
	-moz-box-shadow: 0 0 2px #aaa;
}
button.ui-state-active {
	-moz-box-shadow: 0 0 2px #222;
	border-color: #666;
}
.ui-widget {
	font-size: 1em !important;
}
.ui-accordion .ui-accordion-content {
	font-size: 90%;
}
.accordion {
	margin-bottom: 2em;
}
.accordion h3 {
	font-family: "Lucinda Grande", "Trebuchet MS", Arial, Helvetica, sans-serif;
}
.ui-accordion .ui-accordion-header {
	background: url(/img/nav_bg.jpg) repeat-x center top;
}
.ui-accordion h3.ui-state-hover {
	-moz-box-shadow: 0 0 4px #aaa;
}
.ui-accordian h3.ui-state-hover a {
	color: #000;
}
.ui-accordion-content-active { 
}
.ui-scrollbar-container .ui-scrollbar-content-container {
	padding: 0 !important;
}
.ui-scrollbar-container .odd {
	background: #f9f9f9;
}

.accordion-demo {
	display: none;
	overflow: hidden;
	padding: 1em;
	border-top: 1px solid #ddd;
}
.ui-accordion .ui-accordion-content {
	padding: 0;
}
.ui-accordion .ui-accordion-content p, .ui-accordion .ui-accordion-content ul {
	margin: 1em;
}
.ui-accordion .ui-accordion-content ul {
	margin-left: 3em;
}
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
	color: #333;
	text-shadow: 1px 1px 1px #fff;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
	color: #000;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	border-top: 1px solid #ddd;
	border-left: 1px solid #ddd;
}

.ui-scrollbar-container {
	overflow: hidden;
	position: relative;
}
.ui-scrollbar-base {
	position: absolute;
	width: 18px;
	top: 18px;
}
.ui-scrollbar-base-container {
	position: absolute;
	width: 18px;
	top: 1px;
	right: 1px;
}
.ui-scrollbar-face {
	cursor: pointer;
	position: absolute;
	width: 14px;
	top: 0;
	right: 1px;
}
.ui-scrollbar-face .ui-icon {
	margin-top: 50%;
}
.ui-scrollbar-container .ui-scrollbar-arrow-up {
	cursor: pointer;
	position: absolute;
	right: 3px;
	top: 2px;
	background: transparent !important;
	border: 0 !important;
	z-index: 10;
}
.ui-scrollbar-container .ui-scrollbar-arrow-down {
	cursor: pointer;
	position: absolute;
	right: 3px;
	bottom: 2px;
	background: transparent !important;
	border: 0 !important;
	z-index: 10;
}
.ui-scrollbar-state-hover {
	background: #eee;
}
.ui-scrollbar-container .ui-scrollbar-content-container {
	margin-right: 28px;
	padding: .6em;
	overflow: hidden;
}

.helper-hidden {
	display: none;
}
.helper-left {
	float: left;
}
.helper-clearfix:after { 
	content: "."; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden; 
}
.helper-clearfix { 
	display: inline-block; 
}
/* required comment for clearfix to work in Opera \*/
* html .helper-clearfix { 
	height: 1%; 
}
.helper-clearfix { 
	display: block; 
}
